# Project 4 - Background Work

## Setting Up

In [1]:
import os
import pandas as pd
import petl as etl

In [2]:
raw_data_path = "data/raw"
raw_data_directory = []

for filename in os.listdir(raw_data_path):
    file = os.path.join(raw_data_path, filename)

    if os.path.isfile(file):
        #print(file)
        raw_data_directory.append(file)

In [3]:
raw_data_directory

['data/raw\\2010-2020_Bassetlaw_outlet.csv',
 'data/raw\\2010-2020_Castle_Point_outlet.csv',
 'data/raw\\2010-2020_Ceredigion_store.json',
 'data/raw\\2010-2020_Cheshire_East_outlet.csv',
 'data/raw\\2010-2020_Chiltern_store.json',
 'data/raw\\2010-2020_Dorset_outlet.json',
 'data/raw\\2010-2020_East_Cambridgeshire_outlet.csv',
 'data/raw\\2010-2020_East_Devon_branch.csv',
 'data/raw\\2010-2020_East_Sussex_outlet.csv',
 'data/raw\\2010-2020_Epsom_and_Ewell_store.json',
 'data/raw\\2010-2020_Flintshire_branch.csv',
 'data/raw\\2010-2020_Forest_of_Dean_store.csv',
 'data/raw\\2010-2020_Fylde_outlet.csv',
 'data/raw\\2010-2020_Greater_London_branch.csv',
 'data/raw\\2010-2020_Greater_London_branch.json',
 'data/raw\\2010-2020_Haringey_store.json',
 'data/raw\\2010-2020_Kent_branch.json',
 'data/raw\\2010-2020_Lambeth_store.json',
 'data/raw\\2010-2020_Larne_store.json',
 'data/raw\\2010-2020_Lichfield_outlet.csv',
 'data/raw\\2010-2020_Lincoln_branch.csv',
 'data/raw\\2010-2020_Mole_Valley_store.csv',
 'data/raw\\2010-2020_Newham_branch.json',
 'data/raw\\2010-2020_North_Ayrshire_store.json',
 'data/raw\\2010-2020_North_Yorkshire_store.json',
 'data/raw\\2010-2020_Orkney_store.csv',
 'data/raw\\2010-2020_Peeblesshire_outlet.json',
 'data/raw\\2010-2020_Richmondshire_outlet.json',
 'data/raw\\2010-2020_Sefton_outlet.json',
 'data/raw\\2010-2020_South_Northamptonshire_store.json',
 'data/raw\\2010-2020_Staffordshire_store.csv',
 'data/raw\\2010-2020_Stoke-on-Trent_store.csv',
 'data/raw\\2010-2020_Swansea_store.csv',
 'data/raw\\2010-2020_Tyne_and_Wear_outlet.json',
 'data/raw\\2010-2020_Warwickshire_branch.csv',
 'data/raw\\2010-2020_Wyre_branch.csv',
 'data/raw\\2011-2020_Barry_outlet.json',
 'data/raw\\2011-2020_Bedford_Borough_branch.json',
 'data/raw\\2011-2020_Belfast_branch.csv',
 'data/raw\\2011-2020_Bracknell_Forest_store.csv',
 'data/raw\\2011-2020_Bridgend_outlet.json',
 'data/raw\\2011-2020_Chorley_store.csv',
 'data/raw\\2011-2020_Dumfries_and_Galloway_branch.json',
 'data/raw\\2011-2020_East_Lindsey_branch.csv',
 'data/raw\\2011-2020_East_Lindsey_branch.json',
 'data/raw\\2011-2020_Falkirk_branch.csv',
 'data/raw\\2011-2020_Falkirk_branch.json',
 'data/raw\\2011-2020_Fareham_outlet.csv',
 'data/raw\\2011-2020_Hampshire_branch.json',
 'data/raw\\2011-2020_Harrow_outlet.csv',
 'data/raw\\2011-2020_Hinckley_and_Bosworth_branch.json',
 'data/raw\\2011-2020_Isle_of_Wight_store.csv',
 'data/raw\\2011-2020_Islington_branch.csv',
 'data/raw\\2011-2020_Islington_branch.json',
 'data/raw\\2011-2020_Norfolk_outlet.csv',
 'data/raw\\2011-2020_North_Yorkshire_outlet.csv',
 'data/raw\\2011-2020_Nottinghamshire_store.csv',
 'data/raw\\2011-2020_Oxford_outlet.json',
 'data/raw\\2011-2020_Powys_outlet.csv',
 'data/raw\\2011-2020_Rhoose_branch.csv',
 'data/raw\\2011-2020_St._Edmundsbury_branch.json',
 'data/raw\\2011-2020_West_Somerset_branch.csv',
 'data/raw\\2011-2020_West_Somerset_branch.json',
 'data/raw\\2012-2020_Armagh_outlet.csv',
 'data/raw\\2012-2020_Ballymoney_store.csv',
 'data/raw\\2012-2020_Bargoed_outlet.json',
 'data/raw\\2012-2020_Bedfordshire_store.json',
 'data/raw\\2012-2020_Colchester_outlet.json',
 'data/raw\\2012-2020_Darlington_store.csv',
 'data/raw\\2012-2020_East_Dunbartonshire_branch.json',
 'data/raw\\2012-2020_East_Hertfordshire_branch.json',
 'data/raw\\2012-2020_Edinburgh_City_branch.csv',
 'data/raw\\2012-2020_Edinburgh_City_branch.json',
 'data/raw\\2012-2020_Glasgow_City_outlet.csv',
 'data/raw\\2012-2020_Hackney_store.csv',
 'data/raw\\2012-2020_Isle_of_Anglesey_outlet.json',
 'data/raw\\2012-2020_Lancashire_store.json',
 'data/raw\\2012-2020_Lincolnshire_store.json',
 'data/raw\\2012-2020_Neath_Port_Talbot_outlet.csv',
 'data/raw\\2012-2020_Neath_Port_Talbot_outlet.json',
 'data/raw\\2012-2020_Newark_and_Sherwood_store.json',
 'data/raw\\2012-2020_Reigate_and_Banstead_branch.csv',
 'data/raw\\2012-2020_Rugby_branch.json',
 'data/raw\\2012-2020_Rushcliffe_branch.csv',
 'data/raw\\2012-2020_Selby_branch.json',
 'data/raw\\2012-2020_Sevenoaks_branch.csv',
 'data/raw\\2012-2020_Shepway_store.csv',
 'data/raw\\2012-2020_Stockton-on-Tees_store.csv',
 'data/raw\\2012-2020_Uttlesford_branch.json',
 'data/raw\\2012-2020_West_Oxfordshire_outlet.csv',
 'data/raw\\2012-2020_Worcestershire_branch.csv',
 'data/raw\\2012-2020_Wrexham_store.csv',
 'data/raw\\2012-2020_Wrexham_store.json',
 'data/raw\\2012-2020_York_outlet.json']

In [4]:
len(raw_data_directory)

94

In [5]:
for file in raw_data_directory:
    if str(file).endswith('json'):
        if str(file).replace('json', 'csv') in raw_data_directory:
            raw_data_directory.remove(str(file).replace('json', 'csv'))

len(raw_data_directory)

86

In [6]:
raw_data_directory

['data/raw\\2010-2020_Bassetlaw_outlet.csv',
 'data/raw\\2010-2020_Castle_Point_outlet.csv',
 'data/raw\\2010-2020_Ceredigion_store.json',
 'data/raw\\2010-2020_Cheshire_East_outlet.csv',
 'data/raw\\2010-2020_Chiltern_store.json',
 'data/raw\\2010-2020_Dorset_outlet.json',
 'data/raw\\2010-2020_East_Cambridgeshire_outlet.csv',
 'data/raw\\2010-2020_East_Devon_branch.csv',
 'data/raw\\2010-2020_East_Sussex_outlet.csv',
 'data/raw\\2010-2020_Epsom_and_Ewell_store.json',
 'data/raw\\2010-2020_Flintshire_branch.csv',
 'data/raw\\2010-2020_Forest_of_Dean_store.csv',
 'data/raw\\2010-2020_Fylde_outlet.csv',
 'data/raw\\2010-2020_Greater_London_branch.json',
 'data/raw\\2010-2020_Haringey_store.json',
 'data/raw\\2010-2020_Kent_branch.json',
 'data/raw\\2010-2020_Lambeth_store.json',
 'data/raw\\2010-2020_Larne_store.json',
 'data/raw\\2010-2020_Lichfield_outlet.csv',
 'data/raw\\2010-2020_Lincoln_branch.csv',
 'data/raw\\2010-2020_Mole_Valley_store.csv',
 'data/raw\\2010-2020_Newham_branch.json',
 'data/raw\\2010-2020_North_Ayrshire_store.json',
 'data/raw\\2010-2020_North_Yorkshire_store.json',
 'data/raw\\2010-2020_Orkney_store.csv',
 'data/raw\\2010-2020_Peeblesshire_outlet.json',
 'data/raw\\2010-2020_Richmondshire_outlet.json',
 'data/raw\\2010-2020_Sefton_outlet.json',
 'data/raw\\2010-2020_South_Northamptonshire_store.json',
 'data/raw\\2010-2020_Staffordshire_store.csv',
 'data/raw\\2010-2020_Stoke-on-Trent_store.csv',
 'data/raw\\2010-2020_Swansea_store.csv',
 'data/raw\\2010-2020_Tyne_and_Wear_outlet.json',
 'data/raw\\2010-2020_Warwickshire_branch.csv',
 'data/raw\\2010-2020_Wyre_branch.csv',
 'data/raw\\2011-2020_Barry_outlet.json',
 'data/raw\\2011-2020_Bedford_Borough_branch.json',
 'data/raw\\2011-2020_Belfast_branch.csv',
 'data/raw\\2011-2020_Bracknell_Forest_store.csv',
 'data/raw\\2011-2020_Bridgend_outlet.json',
 'data/raw\\2011-2020_Chorley_store.csv',
 'data/raw\\2011-2020_Dumfries_and_Galloway_branch.json',
 'data/raw\\2011-2020_East_Lindsey_branch.json',
 'data/raw\\2011-2020_Falkirk_branch.json',
 'data/raw\\2011-2020_Fareham_outlet.csv',
 'data/raw\\2011-2020_Hampshire_branch.json',
 'data/raw\\2011-2020_Harrow_outlet.csv',
 'data/raw\\2011-2020_Hinckley_and_Bosworth_branch.json',
 'data/raw\\2011-2020_Isle_of_Wight_store.csv',
 'data/raw\\2011-2020_Islington_branch.json',
 'data/raw\\2011-2020_Norfolk_outlet.csv',
 'data/raw\\2011-2020_North_Yorkshire_outlet.csv',
 'data/raw\\2011-2020_Nottinghamshire_store.csv',
 'data/raw\\2011-2020_Oxford_outlet.json',
 'data/raw\\2011-2020_Powys_outlet.csv',
 'data/raw\\2011-2020_Rhoose_branch.csv',
 'data/raw\\2011-2020_St._Edmundsbury_branch.json',
 'data/raw\\2011-2020_West_Somerset_branch.json',
 'data/raw\\2012-2020_Armagh_outlet.csv',
 'data/raw\\2012-2020_Ballymoney_store.csv',
 'data/raw\\2012-2020_Bargoed_outlet.json',
 'data/raw\\2012-2020_Bedfordshire_store.json',
 'data/raw\\2012-2020_Colchester_outlet.json',
 'data/raw\\2012-2020_Darlington_store.csv',
 'data/raw\\2012-2020_East_Dunbartonshire_branch.json',
 'data/raw\\2012-2020_East_Hertfordshire_branch.json',
 'data/raw\\2012-2020_Edinburgh_City_branch.json',
 'data/raw\\2012-2020_Glasgow_City_outlet.csv',
 'data/raw\\2012-2020_Hackney_store.csv',
 'data/raw\\2012-2020_Isle_of_Anglesey_outlet.json',
 'data/raw\\2012-2020_Lancashire_store.json',
 'data/raw\\2012-2020_Lincolnshire_store.json',
 'data/raw\\2012-2020_Neath_Port_Talbot_outlet.json',
 'data/raw\\2012-2020_Newark_and_Sherwood_store.json',
 'data/raw\\2012-2020_Reigate_and_Banstead_branch.csv',
 'data/raw\\2012-2020_Rugby_branch.json',
 'data/raw\\2012-2020_Rushcliffe_branch.csv',
 'data/raw\\2012-2020_Selby_branch.json',
 'data/raw\\2012-2020_Sevenoaks_branch.csv',
 'data/raw\\2012-2020_Shepway_store.csv',
 'data/raw\\2012-2020_Stockton-on-Tees_store.csv',
 'data/raw\\2012-2020_Uttlesford_branch.json',
 'data/raw\\2012-2020_West_Oxfordshire_outlet.csv',
 'data/raw\\2012-2020_Worcestershire_branch.csv',
 'data/raw\\2012-2020_Wrexham_store.json',
 'data/raw\\2012-2020_York_outlet.json']

In [36]:
# acquire product list from directory
products_table = etl.fromcsv('data/other/products_list.csv')
# cut wanted fields
products_table = etl.cut(products_table, 'product', 'category')

products_table = etl.values(products_table, 'product', 'category')

product_list = list(products_table)

# print for checking
product_list

[('Fairtrade Bananas Loose', 'fruits & vegetables'),
 ('British carrots loose', 'fruits & vegetables'),
 ('Onions Loose', 'fruits & vegetables'),
 ('British baking potatoes loose', 'fruits & vegetables'),
 ('Red pepper', 'fruits & vegetables'),
 ('Mixed pepper', 'fruits & vegetables'),
 ('Brocolli loose', 'fruits & vegetables'),
 ('Lemon', 'fruits & vegetables'),
 ('Spring onions bunch', 'fruits & vegetables'),
 ('Sweet potatoes loose', 'fruits & vegetables'),
 ('courgette loose', 'fruits & vegetables'),
 ('baby potatoes', 'fruits & vegetables'),
 ('british parsnips loose', 'fruits & vegetables'),
 ('fine beans', 'fruits & vegetables'),
 ('garlic', 'fruits & vegetables'),
 ('celery', 'fruits & vegetables'),
 ('aubergine', 'fruits & vegetables'),
 ('raspberries', 'fruits & vegetables'),
 ('british bramley cooking apples', 'fruits & vegetables'),
 ('easy peeler loose', 'fruits & vegetables'),
 ('scottish salmon', 'meat & fish'),
 ('beef mince', 'meat & fish'),
 ('british fresh chicken brest fillets', 'meat & fish'),
 ('british fresh chicken thigh fillets', 'meat & fish'),
 ('large king prawns', 'meat & fish'),
 ('cod fillets', 'meat & fish'),
 ('corned beef', 'meat & fish'),
 ('sea bass fillets', 'meat & fish'),
 ('diced chicken breast', 'meat & fish'),
 ('diced vernison', 'meat & fish'),
 ('chicken sausages', 'meat & fish'),
 ('beef sausages', 'meat & fish'),
 ('vernison sausages', 'meat & fish'),
 ('21 day mature rump steak', 'meat & fish'),
 ('21 day mature sirlion steak', 'meat & fish'),
 ('21 day mature ribeye steak', 'meat & fish'),
 ('salmon fillets', 'meat & fish'),
 ('british fresh turkey mince', 'meat & fish'),
 ('fresh turkey steak', 'meat & fish'),
 ('fresh whole turkey', 'meat & fish'),
 ('fresh whole chicken', 'meat & fish'),
 ('Almond milk', 'dairy'),
 ('Soy Milk', 'dairy'),
 ('Oats Milk', 'dairy'),
 ('Organic mILK', 'dairy'),
 ('Organic Kefir', 'dairy'),
 ('Plain Greek yoghurt', 'dairy'),
 ('Blueberry yoghurt', 'dairy'),
 ('Slightly salted butter', 'dairy'),
 ('unsalted butter', 'dairy'),
 ('mature cheddar cheese', 'dairy'),
 ('mild cheddar cheese', 'dairy'),
 ('free range large eggs x12', 'dairy'),
 ('organic raspberry yoghurt', 'dairy'),
 ('organic soured cream', 'dairy'),
 ('vanilla yoghurt', 'dairy'),
 ('semi skimmed milk', 'dairy'),
 ('skimmed milk', 'dairy'),
 ('blue stilton cheese', 'dairy'),
 ('goat cheese', 'dairy'),
 ('olive oil spread', 'dairy'),
 ('play station 3', 'gaming'),
 ('x-box 360', 'gaming'),
 ('gameboy color', 'gaming'),
 ('gameboy advance', 'gaming'),
 ('dual shock controller', 'gaming'),
 ('gaming mouse', 'gaming'),
 ('gaming keyboard', 'gaming'),
 ('minecraft game - xbox', 'gaming'),
 ('pokemon red', 'gaming'),
 ('pokemon blue', 'gaming'),
 ('pokemon gold', 'gaming'),
 ('pokemon yellow', 'gaming'),
 ('god of war 2', 'gaming'),
 ('halo combat evolved', 'gaming'),
 ('hp dv 2000 laptop', 'computing'),
 ('hp dv 3000 laptop', 'computing'),
 ('hp envy laptop', 'computing'),
 ('dell inspiron laptop', 'computing'),
 ('apple macbook pro mid 2009', 'computing'),
 ('apple macbook air mid 2009', 'computing'),
 ('dyson tower fan', 'appliances'),
 ('dyson vacuum cleaner', 'appliances'),
 ('dyson washing machine', 'appliances'),
 ('bosch washing machine', 'appliances'),
 ('lg washing machine', 'appliances'),
 ('samsung washing machine', 'appliances'),
 ('hotpoint washing machine', 'appliances'),
 ('jam doughnut', 'bakery'),
 ('custard doughnut', 'bakery'),
 ('croisant ', 'bakery'),
 ('almond croisant', 'bakery'),
 ('pain au chocolate', 'bakery'),
 ('pain au raisins', 'bakery'),
 ('chocolate twist', 'bakery'),
 ('shortbread', 'bakery'),
 ('millionaire square', 'bakery'),
 ('cheese cake', 'bakery'),
 ('chocolate fudge cake', 'bakery'),
 ('red velvet cake', 'bakery'),
 ('macaron - x3', 'bakery'),
 ('flapjack', 'bakery'),
 ('denim jeams', 'clothing'),
 ('denim jacket', 'clothing'),
 ('brenton t-shirt', 'clothing'),
 ('white shirt', 'clothing'),
 ('linen trousers', 'clothing'),
 ('linen shirt', 'clothing'),
 ('silk tie', 'clothing'),
 ('cotton tie', 'clothing'),
 ('oxford shirt', 'clothing'),
 ('brenton jumper', 'clothing'),
 ('silk scarf', 'clothing'),
 ('plastic sunshades', 'clothing'),
 ('wellington boots', 'clothing'),
 ('oxford shoes', 'clothing'),
 ('wristwatch', 'clothing'),
 ('classic bowtie', 'clothing'),
 ('grey blazers', 'clothing'),
 ('grey cardigan', 'clothing'),
 ('pink blazers', 'clothing')]

## Cleanup & Transform Functions

In [37]:
# cleanup function
def table_cleanup(table):
    return print(table)

# add product category function
def add_prod_cat(prv, cur, nxt):
    for row in product_list:
        if cur.product == row[0]:
            return row[1]

## Iterating Through Files

In [38]:
## for each file in the directory
#for file in raw_data_directory:
## check file type
    #if str(file).endswith('csv'):
## extract from said type
        #current_table = etl.fromcsv(file)
## initiate cleanup functions
        #table_cleanup(current_table)
    #else:
        #current_table = etl.fromjson(file)
## initiate cleanup functions
        #table_cleanup(current_table)


current_table = etl.fromcsv(raw_data_directory[0])

# remove unwanted fields
current_table = etl.cutout(
                    current_table, 
                    'month', 'day', 'hour')

# convert fields to int & float
current_table = etl.convert(
                    current_table, 
                    'quantity_purchased',
                    int)
# round up field to 2 decimal points
current_table = etl.convert(
                    current_table, 
                    'amount_in_gbp',
                    lambda cell: round(float(cell), 2))

# if table has the header sku or item.. change to product
if 'sku' in etl.header(current_table):
    current_table = etl.rename(
                        current_table, 
                        'sku', 'product')
elif 'item' in etl.header(current_table):
    current_table = etl.rename(
                        current_table, 
                        'item', 'product')

# rename header to only have the one name (total_quantity_purchase)
if 'quantity' in etl.header(current_table):
    current_table = etl.rename(
                        current_table,
                        'quantity', 'total_quantity_purchased'
    )
elif 'total_quantity' in etl.header(current_table):
    current_table = etl.rename(
                        current_table,
                        'total_quantity', 'total_quantity_purchased'
    )
elif 'quantity_purchased' in etl.header(current_table):
    current_table = etl.rename(
                        current_table,
                        'quantity_purchased', 'total_quantity_purchased'
    )


# adding product categories to table
current_table = etl.addfieldusingcontext(current_table, 'product_category', add_prod_cat)


current_table

# addfieldusingcontext
# used to add a value to new field based on context of current row

#    else:
#        current_table = etl.fromjson(file)

+--------+-----------------------------+--------------------------+---------------+------------------+
| year   | product                     | total_quantity_purchased | amount_in_gbp | product_category |
+========+=============================+==========================+===============+==================+
| '2010' | 'chocolate twist'           |                      182 |         145.6 | 'bakery'         |
+--------+-----------------------------+--------------------------+---------------+------------------+
| '2010' | 'plastic sunshades'         |                       98 |         313.6 | 'clothing'       |
+--------+-----------------------------+--------------------------+---------------+------------------+
| '2010' | 'lg washing machine'        |                      151 |       12080.0 | 'appliances'     |
+--------+-----------------------------+--------------------------+---------------+------------------+
| '2010' | 'fresh whole chicken'       |                      230 |         257.6 | 'meat & fish'    |
+--------+-----------------------------+--------------------------+---------------+------------------+
| '2010' | 'free range large eggs x12' |                      150 |         180.0 | 'dairy'          |
+--------+-----------------------------+--------------------------+---------------+------------------+
...